*{
  margin: 0;
  position: relative;
  font-size: large;
}
.cube-pitcher {
  height: 560px;
  width: 100%;
}

.main-container {
  background-image: url("/home/xceltec-94/materialui-demo/src/images/cube.jpg");
  background-size:cover;
  min-height: 100vh;
  margin-top: 0px;
}
 .loginform {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  /* color: white; */
} 
 form.form-inner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.form-group {
  margin-bottom: 30px;
  align-items: center;
  margin-left: 500px;
}
div h1 {
  margin-left: 77%;
  margin-top: 6%;
  margin-bottom: 40px;
  font-size: xx-large;
}
.submit {
  border-radius: 10px;
  margin-left: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn btn-success
{
  z-index: 1;
} 